<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Chat Room</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
  <script th:src="@{/js/chatLogic.js}"></script>
  <link rel="stylesheet" th:href="@{/css/chatStyles.css}" />
</head>
<body layout:fragment="body" id="chat">
<div class="container" id="chat-page"
     th:data-useremail="${user.email}"
     th:data-username="${(user.name != null and not #strings.isEmpty(user.name)) ? user.name + ' ' + user.surname : user.surname}"
     th:data-chat-id="${chatId}"
     th:data-participants="${participants}">
  <div class="projects-container">
    <div class="projects-list">
     <!--Messages -->
    </div>
  </div>
</div>

<div class="container controls-container">
  <div class="admin-controls">
      <form class="delete-btn" id="deleteChatForm">
        <input type="submit" value="Delete Chat" class="btn btn-danger">
      </form>
    <form class="delete-btn" id="clearChatForm">
      <input type="submit" value="Clear Messages" class="btn btn-danger">
    </form>
  </div>

  <div class="message-input-container">
    <form id="messageForm">
      <textarea id="commentText" name="text" placeholder="Write your message..." required rows="3" maxlength="300" oninput="updateCharCount()"></textarea>
      <div class="char-count">
        <span id="charCount">0</span>/300 characters
      </div>
      <input type="hidden" id="chatId" th:value="${chatId}" name="chat" />
      <button type="submit" class="btn">Send Message</button>
    </form>
  </div>
</div>

<script th:inline="javascript">
  /*<![CDATA[*/
  var initialMessages = /*[[${messagesJson}]]*/ '[]'; // initial messages loaded
  /*]]>*/

  function updateCharCount() {
    const textarea = document.getElementById('commentText');
    const charCount = textarea.value.length;
    document.getElementById('charCount').textContent = charCount;
  }
  document.addEventListener('DOMContentLoaded', (event) => {
    updateCharCount();
  });
</script>
</body>
</html>
