<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
    <link href="src/main/resources/static/css/registrationPage.css" rel="stylesheet">
</head>
<body layout:fragment="body">
<div class="registration-wrapper">
    <div class="container">
        <div class="registration-form">
            <h2>Registration</h2>
            <div id="existingEmail" th:if="${param.existingEmail}" class="alert alert-danger">
                Email address already exists. Please try another one.
            </div>
            <form th:action="@{/register/save}" th:method="post" th:object="${user}">
                <!-- Surname field -->
                <div class="form-group">
                    <label for="surname">Surname</label>
                    <input type="text" id="surname" th:field="*{surname}" placeholder="Enter your surname" required>
                    <div th:if="${#fields.hasErrors('surname')}" th:errors="*{surname}" class="error"></div>
                </div>
                <!-- Name field -->
                <div class="form-group">
                    <label for="name">Name</label>
                    <input type="text" id="name" th:field="*{name}" placeholder="Enter your surname" required>
                    <div th:if="${#fields.hasErrors('name')}" th:errors="*{name}" class="error"></div>
                </div>

                <!-- Email field -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <input type="email" id="email" th:field="*{email}" placeholder="Enter your email" required>
                    <div th:if="${#fields.hasErrors('email')}" th:errors="*{email}" class="error"></div>
                </div>

                <!-- Password field -->
                <div class="form-group">
                    <label for="password">Password</label>
                    <input type="password" id="password" th:field="*{password}" placeholder="Enter your password" required>
                    <div th:if="${#fields.hasErrors('password')}" th:errors="*{password}" class="error"></div>
                </div>

                <!-- City field -->
                <div class="form-group">
                    <label for="city">City</label>
                    <input type="text" id="city" th:field="*{city}" placeholder="Enter your city">
                </div>

                <!-- Country field -->
                <div class="form-group">
                    <label for="country">Country</label>
                    <input type="text" id="country" th:field="*{country}" placeholder="Enter your country">
                </div>

                <!-- Registration button -->
                <div class="form-group">
                    <button type="submit">Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
<script src="/js/commonFunctions.js"></script>
<script>
    hideElementAfterDelay('existingEmail');
</script>
</body>
</html>